* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: linear-gradient(to bottom right, #c39bd3, #7a00e6);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.search input {
  font-size: 1.6rem;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.search button {
  font-size: 1.6rem;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #7a00e6;
  color: #fff;
}

.gif {
  border: 3px solid #7a00e6;
}
